FriendsFlock/FriendsService/Service References/FriendsFlockWebService/Analytics.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://friendsflock.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://friendsflock.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://friendsflock.org/">
      <s:element name="UpdateAnalytic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="columnName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="metric" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAnalyticResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAnalyticResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateAnalyticSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAnalytic" />
  </wsdl:message>
  <wsdl:message name="UpdateAnalyticSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAnalyticResponse" />
  </wsdl:message>
  <wsdl:portType name="AnalyticsSoap">
    <wsdl:operation name="UpdateAnalytic">
      <wsdl:input message="tns:UpdateAnalyticSoapIn" />
      <wsdl:output message="tns:UpdateAnalyticSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AnalyticsSoap" type="tns:AnalyticsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateAnalytic">
      <soap:operation soapAction="http://friendsflock.org/UpdateAnalytic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnalyticsSoap12" type="tns:AnalyticsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateAnalytic">
      <soap12:operation soapAction="http://friendsflock.org/UpdateAnalytic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Analytics">
    <wsdl:port name="AnalyticsSoap" binding="tns:AnalyticsSoap">
      <soap:address location="http://limeysrv1/Analytics.asmx" />
    </wsdl:port>
    <wsdl:port name="AnalyticsSoap12" binding="tns:AnalyticsSoap12">
      <soap12:address location="http://limeysrv1/Analytics.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>